html,
body {
     margin: 0;
     padding: 0;
     font-family: "Nunito Sans", sans-serif;
}

*,
::after,
::before {
     box-sizing: border-box;
}

:root {
     --DarkBlue: hsl(209, 23%, 22%);
     --VeryDarkBlue: hsl(207, 26%, 17%);
     --VeryDarkBlueText: hsl(200, 15%, 8%);
     --DarkGrey: hsl(0, 0%, 52%);
     --VeryLightGrey: hsl(0, 0%, 98%);
     --White: hsl(0, 0%, 100%);
}

.navbar-container {
     width: 100%;
     height: 90px;
     display: flex;
     justify-content: center;
     align-items: center;
     padding-left: 20px;
     padding-right: 20px;
     background-color: var(--White);
     box-shadow: 0 3px 4px rgba(0, 0, 0, 0.057);
     position: relative;
     z-index: 500;
     transition: background 0.2s ease-in-out;
}

.inner-navbar {
     width: 100%;
     max-width: 1300px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.mode-switch {
     display: flex;
     align-items: center;
}

.switch-title {
     margin-left: 5px;
     font-weight: 600;
     font-size: 14px;
}

.brand-title {
     font-size: 14px;
}

.search-section {
     display: flex;
     flex-direction: column;
     padding: 0 20px;
     padding-top: 30px;
     gap: 40px;
}

.input-container {
     position: relative;
}

.search-input {
     width: 100%;
     height: 48px;
     font-size: 12px;
     font-family: "Nunito Sans", sans-serif;
     padding-left: 70px;
     border-radius: 4px;
     border: none;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
     transition: all 0.2s ease-in-out;
}

.search-input::placeholder {
     color: #b0b0b0;
}

.search-icon {
     position: absolute;
     top: 50%;
     left: 30px;
     transform: translate(0, -50%);
     font-size: 19px;
     color: #b0b0b0;
}

.filter-title-container {
     height: 48px;
     width: 180px;
     border-radius: 4px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 20px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
     cursor: pointer;
     background: var(--White);
     transition: background 0.2s ease-in-out;
}

.filter-container {
     position: relative;
}

.filter-title {
     color: var(--VeryDarkBlueText);
     font-size: 13px;
}

.f-t-dark {
     color: var(--White);
}

.filter-list {
     background-color: var(--White);
     width: 180px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
     position: absolute;
     top: 55px;
     border-radius: 4px;
     padding: 7px 5px;
     visibility: hidden;
     transform: translate(0, 20px);
     transition: all 0.3s cubic-bezier(0, 1.04, 0.83, 0.97);
     opacity: 0;
}

.show-filter {
     visibility: visible;
     transform: translate(0, 0px);
     opacity: 1;
}

.filter-item {
     font-size: 13px;
     margin: 2px 0;
     padding: 3px 0;
     padding-left: 15px;
     transition: background 0.2s ease-in-out;
     border-radius: 3px;
     cursor: pointer;
}

.filter-item:hover {
     background-color: #efefef;
}

.chevron-arrow {
     font-size: 13px;
     transition: all 0.2s cubic-bezier(0, 1.04, 0.83, 0.97);
}

.rotate-arrow {
     transform: rotate(180deg);
}

.book-card-container {
     width: 300px;
     background: var(--White);
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
     border-radius: 6px;
     overflow: hidden;
     transition: background 0.2s ease-in-out;
}

.country-list-container {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     padding-top: 38px;
     gap: 40px;
     padding-bottom: 60px;
}

.country-card-img-container {
     width: 100%;
     height: 170px;
}

.country-card-img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.country-info {
     padding-left: 25px;
     padding-bottom: 38px;
}

.p-card {
     margin: 4px 0;
}

.card-title {
     margin-top: 25px;
}

.loader-container {
     width: 100%;
     display: flex;
     justify-content: center;
     padding-top: 50px;
}

.home-down {
     background: var(--VeryLightGrey);
     transition: background 0.2s ease-in-out;
}

.bright-dark {
     color: #fff;
     background-color: var(--DarkBlue);
}

.bright-dark::placeholder {
     color: var(--White);
}

.i-b-dark {
     background-color: var(--DarkBlue);
     border-radius: 4px;
}

.darker-dark {
     background-color: var(--VeryDarkBlue);
}
